/* ==========================================================================
  Variables
========================================================================== */


/*==========  ARE WE USING FLEXBOX?  ==========*/

$enable-flex: true;



/*==========  DEFINE BREAKPOINTS  ==========*/

$x-small: 1px !default;
$small: 500px !default;
$medium: 760px !default;
$large: 1080px !default;
$x-large: 1300px !default;



/*==========  GRID  ==========*/

$grid-columns: 12;
$grid-gutter-width: 30px;



/*==========  SPACING  ==========*/

$padding: 30px;
$margin: 20px;



/*==========  COLORS  ==========*/

$color-brand: #da2f10;
$color-brand-secondary: #da2f10;

$color-gray: #737373;
$color-gray-dark: #404040;
$color-gray-light: #bbb;

$color-body-bg: #fff;
$color-body-text: $color-gray-dark;

$color-link: $color-brand;
$color-link-hover: darken( $color-brand, 10% );



/*==========  TEXT  ==========*/

// size will be converted to px and rem
$font-base: 16;

$font-small: 11;
$font-medium: 14;
$font-large: 20;
$font-huge: 50;

$font-h1: 40;
$font-h2: 34;
$font-h3: 28;
$font-h4: 22;
$font-h5: 16;
$font-h6: 14;

$line-height: 1.7 !default;
$line-height-header: 1.2 !default;
$line-height-alt: 1.5 !default;

$font-regular: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-highlight: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-bold: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;



/*==========  OTHERS  ==========*/

$timing: 0.15s;
$easing: cubic-bezier(0.455, 0.030, 0.515, 0.955);



