/* ==========================================================================
  Animation - Defined
========================================================================== */


@for $i from 1 through 20 {
  .delay--#{$i} {
    animation-delay: 0.1s + ($i*0.04);
  }
}



/*==========  FADE IN  ==========*/

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



/*==========  FADE OUT  ==========*/

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}