/* ==========================================================================
  Grid - Based on the Twitter Bootstrap
========================================================================== */


.full-width {
  position: relative;
  width: 100%;
}

.container {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  @include clearfix();
}

.row {
  margin-right: -10px;
  margin-left: -10px;
  display: block;
  @include clearfix();
}

[class*="span"] {
  display: block;
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: auto;
}


/*==========  EXTRA SMALL SCREEN  ==========*/

@include breakpoint(x-small) {

  [class*="span-xs"] {
    float: left;
  }

  @for $i from 1 through $grid-columns {
    .span-xs-#{$i} {
      width: (100%/$grid-columns) * $i;
    }
    .offset-xs-#{$i} {
      margin-left: (100%/$grid-columns) * $i;
    }
  }

}


/*==========  SMALL SCREEN  ==========*/

@include breakpoint(small) {

  [class*="span-s"] {
    float: left;
  }

  @for $i from 1 through $grid-columns {
    .span-s-#{$i} {
      width: (100%/$grid-columns) * $i;
    }
    .offset-s-#{$i} {
      margin-left: (100%/$grid-columns) * $i;
    }
  }

}


/*==========  MEDIUM SCREEN  ==========*/

@include breakpoint(medium) {

  .container {
    @if $enable-flex {
      display: flex;
      flex-direction: column;
    }

    width: $medium;
  }

  @if $enable-flex {
    .row {
      display: flex;
      flex-wrap: wrap;

      &:before,
      &:after {
        clear: none;
        display: block;
      }
    }
  }


  [class*="span"] {
    @if $enable-flex {
      display: flex;
      flex-direction: column;
    } @else {
      float: left;
    }
  }

  @for $i from 1 through $grid-columns {
    .span-#{$i} {
      @if $enable-flex {
        flex: 0 0 (100%/$grid-columns) * $i;
      } @else {
        width: (100%/$grid-columns) * $i;
      }
    }
    .offset-#{$i} {
      margin-left: (100%/$grid-columns) * $i;
    }
  }

}


/*==========  LARGE SCREEN  ==========*/

@include breakpoint(large) {

  .container {
    width: $large;
  }

  @for $i from 1 through $grid-columns {
    .span-l-#{$i} {
      @if $enable-flex {
        flex: 0 0 (100%/$grid-columns) * $i;
      } @else {
        width: (100%/$grid-columns) * $i;
      }
    }
    .offset-l-#{$i} {
      margin-left: (100%/$grid-columns) * $i;
    }
  }

}



/*==========  EXTRA LARGE SCREEN  ==========*/

@include breakpoint(x-large) {

  .container {
    width: $x-large;
    padding-right: $grid-gutter-width/2;
    padding-left: $grid-gutter-width/2;
  }

  .row {
    margin-right: -$grid-gutter-width/2;
    margin-left: -$grid-gutter-width/2;
  }

  [class*="span"] {
    padding-right: $grid-gutter-width/2;
    padding-left: $grid-gutter-width/2;
  }

  @for $i from 1 through $grid-columns {
    .span-xl-#{$i} {
      @if $enable-flex {
        flex: 0 0 (100%/$grid-columns) * $i;
      } @else {
        width: (100%/$grid-columns) * $i;
      }
    }
    .offset-xl-#{$i} {
      margin-left: (100%/$grid-columns) * $i;
    }
  }

}




