/* ==========================================================================
  Carousel
========================================================================== */


.owl-wrapper {
  @include clearfix();
}

.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
  .owl-wrapper {
    display: none;
    position: relative;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
  }
  .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
    &.autoHeight {
      transition: height 500ms $easing;
    }
  }
  .owl-item {
    float: left;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
  }
}

.owl-controls {
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.owl-pagination {
  @include clearfix();
  .owl-page {
    float: left;
    margin: 0 5px 0 0;
    cursor: pointer;
    &.active {
      span {
        background: #ff0000;
      }
    }
  }
  span {
    width: 10px;
    height: 10px;
    background: #333;
    display: block;
  }
}

.owl-buttons {
  div {
    display: inline-block;
    cursor: pointer;
    margin: 0 5px 0 0;
  }
}

.owl-origin {
  perspective : 1200px;
}

.owl-fade-out {
  z-index: 10;
  animation: fadeOut .7s both ease;
}

.owl-fade-in {
  animation: fadeIn .7s both ease;
}

.owl-backSlide-out {
  animation: backSlideOut 1s both ease;
}

.owl-backSlide-in {
  animation: backSlideIn 1s both ease;
}

.owl-goDown-out {
  animation: scaleToFade .7s ease both;
}

.owl-goDown-in {
  animation: goDown .6s ease both;
}

.owl-fadeUp-in {
  animation: scaleUpFrom .5s ease both;
}

.owl-fadeUp-out {
  animation: scaleUpTo .5s ease both;
}