/* ==========================================================================
  Classes - Spacing
========================================================================== */


/*==========  PADDING  ==========*/

.pad {
  padding: $padding;
}

.pad--v {
  padding-top: $padding;
  padding-bottom: $padding;
}

.pad--v-2x {
  padding-top: $padding*2;
  padding-bottom: $padding*2;
}

.pad--h {
  padding-right: $padding;
  padding-left: $padding;
}

.pad--h-2x {
  padding-right: $padding*2;
  padding-left: $padding*2;
}



/*==========  PADDING TOP ==========*/

.pad--t {
  padding-top: $padding;
}

.pad--t-2x {
  padding-top: $padding*2;
}

.pad--t-20 {
  padding-top: 20px;
}

.pad--t-10 {
  padding-top: 10px;
}

.pad--t-0 {
  padding-top: 0;
}

.pad--t-0_s {
  @include breakpoint(medium) {
    padding-top: inherit;
  }
}



/*==========  PADDING BOTTOM  ==========*/

.pad--b {
  padding-bottom: $padding;
}

.pad--b-2x {
  padding-bottom: $padding*2;
}

.pad--b-20 {
  padding-bottom: 20px;
}

.pad--b-10 {
  padding-bottom: 10px;
}

.pad--b-0 {
  padding-bottom: 0;
}

.pad--b-0_s {
  @include breakpoint(medium) {
    padding-bottom: inherit;
  }
}

.pad--b_s {
  padding-bottom: $padding;
  @include breakpoint(medium) {
    padding-bottom: inherit;
  }
}



/*==========  PADDING HORIZONTAL ==========*/

.pad--r {
  padding-right: $padding;
}

.pad--l {
  padding-left: $padding;
}




/*==========  MARGIN  ==========*/

.mar {
  margin: $margin;
}

.mar--v {
  margin-top: $margin;
  margin-bottom: $margin;
}

.mar--h {
  margin-right: $margin;
  margin-left: $margin;
}




/*==========  MARGIN TOP  ==========*/

.mar--t {
  margin-top: $margin;
}

.mar--t-2x {
  margin-top: $margin*2;
}

.mar--t-20 {
  margin-top: 20px;
}

.mar--t-10 {
  margin-top: 10px;
}

.mar--t-0 {
  margin-top: 0;
}




/*==========  MARGIN BOTTOM  ==========*/

.mar--b {
  margin-bottom: $margin;
}

.mar--b-2x {
  margin-bottom: $margin*2;
}

.mar--b-20 {
  margin-bottom: 20px;
}

.mar--b-10 {
  margin-bottom: 10px;
}

.mar--b-0 {
  margin-bottom: 0;
}
